body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
}

#startAR {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
